html, body, div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.fractal-tree {
  margin: auto;  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  height: 150px;
  width: 1px;  
  background: red;
}

.fractal-tree    > div,
.fractal-tree div> div {
  height: 75%;
  width: 1px;
  position: absolute;
  top: -75%;
  transform-origin: 0 100%;
  background: red;
}

.fractal-tree    > div:first-child,
.fractal-tree div> div:first-child { 
  transform: rotate(-30deg);  
}

.fractal-tree    > div:last-child,
.fractal-tree div> div:last-child { 
  height: 50%;
  top: -50%;
  transform: rotate(30deg);   
}
 

