html, body, div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dragon-curve {
  margin: auto;  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  width: 300px;
}

.dragon-curve     > div, 
.dragon-curve div > div {
  height: 1px;
  background: red;
}

.dragon-curve div >div:nth-child(1), 
.dragon-curve div >div:nth-child(2),  
.dragon-curve     >div:nth-child(1), 
.dragon-curve     >div:nth-child(2) {
  width: 70.71067%;
  border-color: red;
  transform-origin: 0 0;
}

.dragon-curve div >div:nth-child(1), 
.dragon-curve     >div:nth-child(1) {
  transform: rotate(-45deg);
}

.dragon-curve div >div:nth-child(2), 
.dragon-curve     >div:nth-child(2) {
  transform: rotate(-135deg);
  margin-left: 100%;
}

.dragon-curve div >div:nth-child(3), 
.dragon-curve     >div:nth-child(3) {
  width: 100%;
  margin-top: -2px;
  height: 2px;
  background: #fff;
}
