html, body, div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pythagoras-tree-tiling {
  margin: auto;  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #ee3030;
}

.pythagoras-tree-tiling    >div, 
.pythagoras-tree-tiling div>div {
  width: 100%;
  height: 100%;
  background: #ee3030;
  transform-origin: 0 0;
  position: absolute;
}

.pythagoras-tree-tiling    >div:first-child, 
.pythagoras-tree-tiling div>div:first-child {
  margin-top: -100%;
  transform-origin: 0 100%;
  transform: rotate(-60deg);
  left: 0;
}

.pythagoras-tree-tiling    >div:last-child, 
.pythagoras-tree-tiling div>div:last-child { 
  right: 0;
  margin-top: -100%;
  transform-origin: 100% 100%;
  transform: rotate(60deg);
}
